h1 {
    background-color: blue;
    color: grey;
    padding: 10px; margin: 0;
}

#info {
    margin: 16px; padding: 8px;
}

select {
    width: 13em;
}

.fblock{
    border: 1px solid silver;
    padding: 8px; margin: 8px;
}

.box-noborder {
    padding: 8px; margin: 8px;
}

th{
    text-align: right;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* 水平方向の中心揃え */
    align-items: center; /* 垂直方向の中心揃え */
    height: 10vh;
    padding-top: 30vh;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333; /* フッターリボンの色 */
    color: white;
    text-align: center;
    padding: 10px 0;
}

.header h1 {
    color: white;
}
