{% extends "login_layout.html" %}
{% block content %}
<div class="pure-g">
    <form action="/myprofile/{{ user_id }}/edit" method="POST" class="pure-form-stacked">
        <fieldset>
            <legend>Your Nickname</legend>
            <input type="text" name="nickname" placeholder="Enter your nickname">
        </ffieldset>
        <fieldset>
            <legend>Upload Your Account Picture</legend>
            <input type="file" name="thumbnail_img" class="pure-input-1">
        </fieldset>
        <fieldset>
            <legend>Type Your Introduction</legend>
            <input type="text" name="description" placeholder="Describe yourself">
        </fieldset>
        <input type="submit" name="submit" value="Update Profile" class="pure-button pure-button-primary">
    </form>
</div>
{% endblock %}