{% extends "layout_login.html" %}
{% block content %}
    <div class="pure-g custom-section">
        <!--プロファイルセクション-->
        <div class="pure-u-1" id="profile-section">
            <img src="{{ user_info.thumbnail_url }}" alt="Profile Picture" class="profile-picture">
        <h1>{{ user_info.nickname }}'s Profile</h1>
        <p>{{ user_info.description }}</p>
        <a class="pure-button-primary" style="left: 20%;" href="/myprofile/{{ user_info.user_id }}/edit">Edit Your Profile</a>
        </div>
        <!--投稿セクション-->
    <div class="pure-u-1" id="posts-section">
        <div class="posts-countainer">
            {% for post in post_all %}
                <div class="posts-countainer">
                    <h3>{{ post.title }}</h3>
                    <img src="{{ post.image_url }}" alt="Post Image" style="max-width: 50%; height: auto;">
                    <p>{{ post.description }}</p>
                    <p>{{ post.post_date }}</p>
                    <br>
                    <span>Likes: {{ post.good_no }}</span>
                    <a href="/delete_post/{{ post.user_id }}/{{ post.post_id }}" style="color: red;">※Delete This</a>
                    <hr><!--仕切り線を追加-->
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}