{% extends "layout_login.html" %}
{% block header %}
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script>
    $(document).ready(function(){
        $('#follow_btn').on('click',function(e){
            e.preventDefault()
            $.ajax({
                url : "/follow/{{ user_info.user_id }}",
                method:"POST",
                data:"{{ user_info.user_id }}",
                success:function(data){
                    const follow_result = data;
                    $('#follow_btn').empty().hide().append(follow_result).fadeIn(1000)
                }
            })
        })
    });
</script>
{% endblock %}
{% block content %}
    <div class="pure-g custom-section">
        <!--プロファイルセクション-->
        <div class="pure-u-1" id="profile-section">
            <p >{{ user_info.nickname }}'s Profile</p>
            <img src="{{ user_info.thumbnail_url }}" alt="Profile Picture" class="profile-picture">
            <p>{{ user_info.description }}</p>
            <a href="/follow/{{ user_info.user_id }}" class="pure-button" id="follow_btn">{{ relation }}</a>
        </div>
        <!--投稿セクション-->
    <div class="pure-u-1" id="posts-section">
        <div class="posts-countainer">
            {% for post in post_all %}
                <div class="posts-countainer">
                    <div class="pure-g" style="border-top: 10px grey;">
                        <div class="pure-u-sm-1-4"><br></div>
                        <div class="pure-u-sm-1-4">
                            <h3 style="font-size: 30px;">{{ post.title }}</h3>
                            <img src="{{ post.image_url }}" alt="Post Image" style="max-width: 50%; height: auto;">
                        </div>
                        <div class="pure-u-md-1-4" style="margin-top: 4em;">
                            <h5 style="font-size: large; ">{{ post.description }}</h5>
                            <p>{{ post.post_date }}</p>
                            <span>Likes: {{ post.good_no }}</span>
                        </div>
                        <div class="pure-u-sm-1-4"><br></div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}